* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #0a22f4;
  font-family: "Helvetica Neue";
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.ttf.TTF");
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff");
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff2");
}
.footer-h3 {
  color: white;
  position: absolute;
  bottom: 50%;
}
.footer-text {
  color: white;
  position: absolute;
  bottom: 55%;
  width: 30%;
}
.lower-text2 {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 20%;
}
.heart {
  position: relative;
  top: 7px;
}
.smartweb {
  position: absolute;
  bottom: 4%;
  right: 10%;
}
.container p {
  left: 10%;
}
.container h3 {
  left: 10%;
  bottom: 70%;
}
.google-map iframe {
  top: 50%;
  left: 11%;
  position: absolute;
  border-radius: 10px;
  height: 25%;
}
.shape {
  background-color: white;
  position: absolute;
  top: 100px;
  left: 0;
  width: 403px;
  height: 200px;
  border-radius: 10px; 
  top: 51%;
  left: 10.2%;
}
.extra-info h4 {
  display: inline-block;
  color: white;
  margin-right: 100px;
}