* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #0a22f4;
  font-family: "Helvetica Neue";
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.ttf.TTF");
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff");
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff2");
}
.footer-h3 {
  color: white;
  position: absolute;
  bottom: 50%;
}
.footer-text {
  color: white;
  width: 30%;
  position: absolute;
  bottom: 35%;
}
.lower-text2 {
  display: inline-block;
  color: white;
  position: absolute;
  bottom: 5%;
  right: 20%;
}
.heart {
  position: relative;
  top: 7px;
}
.smartweb {
  position: absolute;
  bottom: 4%;
  right: 10%;
}
.container {
 
}